name: Data Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync
      - name: Run Data Cleaning
        run: |
          uv run jupyter nbconvert --to notebook --execute notebooks/preprocessing/1_cleaning.ipynb

  analysis:
    needs: clean
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync
      - name: Run Data Analysis
        run: |
          uv run jupyter nbconvert --to notebook --execute notebooks/analysis/2_analysis.ipynb

  train:
    needs: analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync
      - name: Run Model Training
        run: |
          uv run jupyter nbconvert --to notebook --execute notebooks/modeling/3_model_training.ipynb

  test:
    needs: train
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync
      - name: Run Model Testing
        run: |
          uv run jupyter nbconvert --to notebook --execute notebooks/modeling/4_model_testing.ipynb
